<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHBB Online Banking</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/styleLogin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="shortcut icon" href="./assets/logo-removebg-preview.png">
</head>
<body>
    <div id="app" v-cloak>
        <header class="bg-light">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col d-flex align-items-center col-lg-2">
                        <img src="./assets/logo-removebg-preview.png" alt="">
                    </div>
                    <div class="d-none d-lg-block col-5 col-lg-5 p-0 d-flex justify-content-center align-items-center ">
                        <h2 class="m-0 text-center">Mindhub Brothers Bank</h2>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row justify-content-between">
                    <section class="vh-50">
                        <div class="container-fluid h-custom">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-md-9 col-lg-6 col-xl-5">
                                    <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
                                    alt="Sample image">
                                </div>
                                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                                    <form class="p-0">
                                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                                            <p class="lead fw-normal mb-0 me-3">Iniciar Sesión</p>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input v-model="email" type="email" id="form3Example3" class="form-control form-control-lg"
                                            placeholder="Enter a valid email address" />
                                            <label class="form-label" for="form3Example3">Email</label>
                                        </div>
                                
                                        <div class="form-outline mb-3">
                                            <input v-model="password" type="password" id="form3Example4" class="form-control form-control-lg"
                                            placeholder="Enter password" />
                                            <label class="form-label" for="form3Example4">Contraseña</label>
                                        </div>

                                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                            </symbol>
                                            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                                              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                            </symbol>
                                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </symbol>
                                        </svg>
                                        <div v-if="mensj == true" class="alert alert-danger d-flex align-items-center" role="alert">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div>
                                                Alguno de los datos ingresados es incorrecto. Intentá nuevamente.
                                            </div>
                                        </div>
                                        
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="form-check mb-0">
                                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                            <label class="form-check-label" for="form2Example3">
                                                Recordar Usuario
                                            </label>
                                            </div>
                                            <a href="#!" class="text-body">¿Olvidaste tu contraseña?</a>
                                        </div>
                                
                                        <div class="text-center text-lg-start mt-4 pt-2">
                                            <button @click="login" type="button" class="btn btn-primary btn-lg"
                                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Iniciar Sesión</button>
                                            <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes cuenta? <a href="#!"
                                                class="link-danger" @click="registrar">Registrate</a>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                                <div v-if="registro == true" class="d-flex justify-content-center">
                                    <div class="card" id="registro">
                                        <div class="card-header">
                                            <h4 class="ps-5">Formulario de registro</h4>
                                        </div>
                                        <div class="card-body">
                                            <form class="ps-5 pe-5">
                                                <div class="mb-3">
                                                    <label for="exampleInputfirstName" class="form-label">Nombre</label>
                                                    <input v-model="firstName" type="text" class="form-control" id="exampleInputfirstName" >
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleInputlastName" class="form-label">Apellido</label>
                                                    <input v-model="lastName" type="text" class="form-control" id="exampleInputlastName" >
                                                </div>
                                                <div class="mb-3">
                                                  <label for="exampleInputEmail1" class="form-label">Email</label>
                                                  <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                  <div id="emailHelp" class="form-text">Nunca compartiremos tu email fuera de esta plataforma.</div>
                                                </div>
                                                <div class="mb-3">
                                                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                                                  <input v-model="password" type="password" class="form-control" id="exampleInputPassword1">
                                                </div>

                                                <div v-if="mensaje == true" class="alert alert-danger d-flex align-items-center" role="alert">
                                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                    <div>
                                                        El usuario ya existe.
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn btn-primary" @click="crear">Crear Cuenta</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <footer class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
                        <img src="./assets/logo-removebg-preview.png" alt="">
                    </div>
                    <div class="col-12 col-md-8 d-flex justify-content-evenly align-items-center text-center">

                    </div>
                    <div class="col-12 col-md-2 d-flex justify-content-around align-items-center">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <h6>© 2021 Mindhub Brothers Bank</h6>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://kit.fontawesome.com/58d99c8dac.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://unpkg.com/vue@next"></script>

    <script src="./script/index.js"></script>
</body>
</html>